*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
source/.ipynb_checkpoints/*
.ipynb_checkpoints/*
**/.ipynb_checkpoints/*

*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.ent
*.bbl
*.blg
*.pdfsync
*.out
*(busy)
*.log
*.nav
*.toc
*.snm
*.xdv

.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
source/exercises/.ipynb_checkpoints/*
~$*

Solutions_*.ipynb
.DS_Store

example_data/dask_data/*
**/dask-worker-space/
# docs/html/solutions_savedaway.html
# docs/html/Solutions_*
.ipynb_checkpoints/*
source/exercises/.ipynb_checkpoints/*
.vscode/*
source/azure_config.json
source/tmp/*
source/azure_*
